@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  html {
    @apply text-base text-body font-primary;
  }
}

a {
  @apply no-underline text-body m-0 p-0;
}

p {
  @apply m-0 p-0;
}

/* change the font style of a single UI component */
.ag-theme-material {
  .ag-header {
    @apply bg-gray-600 rounded-md border-b-0;
    height: 42px !important;
    min-height: 42px !important;

    .ag-header-cell-label {
      @apply text-gray-200 text-sm font-bold;
    }

    .ag-header-row {
      height: 100% !important;
    }
  }
}
